## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key_new

# Configure gmaps
gmaps.configure(api_key=g_key_new)

In [4]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Vung Tau,VN,80.56,overcast clouds,10.3460,107.0843,Green hotel
1,16,Atuona,PF,77.59,broken clouds,-9.8000,-139.0333,Villa Enata
2,17,Cabo Rojo,PR,83.91,scattered clouds,18.0866,-67.1457,Hotel Perichi's
3,24,Alofi,NU,78.69,broken clouds,-19.0595,-169.9187,Taloa Heights
4,26,Shingu,JP,83.39,overcast clouds,33.7333,135.9833,Shingu UI Hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Oyama"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Oyama"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Shimoda"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Katsuura"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Hasaki"]

In [23]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# patterened after solution from https://stackoverflow.com/questions/45285244/convert-a-dataframe-to-list-of-tuples
start = [tuple(lat_lng) for lat_lng in vacation_start.to_numpy()][0][5:7]
end = [tuple(lat_lng) for lat_lng in vacation_end.to_numpy()][0][5:7]
stop1 = [tuple(lat_lng) for lat_lng in vacation_stop1.to_numpy()][0][5:7]
stop2 = [tuple(lat_lng) for lat_lng in vacation_stop2.to_numpy()][0][5:7]
stop3 = [tuple(lat_lng) for lat_lng in vacation_stop3.to_numpy()][0][5:7]

In [27]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
start_to_end = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3],
    travel_mode='DRIVING')
fig.add_layer(start_to_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,234,Oyama,JP,87.53,clear sky,36.3000,139.8000,Toyoko Inn Oyama-eki Higashi-guchi No.1
1,487,Shimoda,JP,85.10,clear sky,34.6667,138.9500,Shimoda Tokyu Hotel
2,210,Katsuura,JP,84.31,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
3,196,Hasaki,JP,82.80,clear sky,35.7333,140.8333,Hotel Sunrise Choshi

In [29]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [32]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))